/*====================Mixins======================*/
/*================product=================*/
.ware {
  margin: 0;
  padding: 0;
}
.ware-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 777px;
  min-height: 624px;
  width: 100%;
  background-color: #f7f7f7;
  background-image: url(../img/product/CarouselGirl.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.ware-carousel-btn {
  width: 47px;
  height: 47px;
  display: flex;
  border: none;
  background: rgba(42, 42, 42, 0.15);
}
.ware-carousel-btn svg {
  width: 12.4px;
  height: 21.7px;
  margin: auto;
  fill: #000000;
}
.ware-carousel-btn:hover svg {
  fill: #f16d7f;
}
.ware-carousel-btn:active {
  background-color: transparent;
}
.ware-carousel-btn:active svg {
  fill: red;
}
.ware-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1141px;
  width: 100%;
  padding: 65px 295px 65px;
  margin: -65px auto 128px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid #EAEAEA;
}
.ware-info-title {
  margin: 0;
  width: 148px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
  position: relative;
}
.ware-info-title::after {
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -12.1px;
  left: 41.5px;
}
.ware-info-subtitle {
  margin: 28px 0 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}
.ware-info-article {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  margin-bottom: 33px;
}
.ware-info-price {
  height: 29.25px;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin: 0 0 130px 0;
  position: relative;
}
.ware-info-price::after {
  content: "";
  display: block;
  width: 640px;
  height: 1px;
  background-color: #eaeaea;
  position: absolute;
  bottom: -65px;
  left: -48px;
}
.ware-info-filters {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 373px;
  width: 100%;
}
.ware-info-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.ware-info-item svg {
  fill: #6f6e6e;
}
.ware-info-btn {
  width: 211px;
  height: 47.4px;
  background-color: transparent;
  border: 1px solid #ff6a6a;
  display: flex;
  margin: 49px 0 0 0;
}
.ware-info-btn svg {
  margin: auto;
  fill: #ef5b70;
}
.ware-info-btn span {
  margin: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}
.ware-info-btn:hover {
  background-color: grey;
  border: none;
}
.ware-info-btn:hover svg {
  fill: #fff;
}
.ware-info-btn:hover span {
  color: #fff;
}
.ware-info-btn:active {
  background-color: black;
  border: none;
}
.ware-info-btn:active svg {
  fill: red;
}
.ware-info-btn:active span {
  color: red;
}

.ware-cards {
  margin: 0 auto 128px;
}

/*======================cart====================*/
.cart-heading {
  height: 148px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F8F3F4;
  margin: 0 0 96px 0;
}
.cart-heading-txt {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}
.cart-product {
  position: relative;
  display: flex;
  width: 100%;
  height: 306px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart-product:not(:last-child) {
  margin: 0 0 40px 0;
}
.cart-product:last-child {
  margin: 0 0 72px 0;
}
.cart-product-img {
  height: 100%;
}
.cart-product-list {
  max-width: 472px;
  width: 100%;
  background: #FFFFFF;
  padding: 22px 97px 62px 31px;
  box-sizing: border-box;
}
.cart-product-list h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  padding: 0 55px 0 0;
  margin: 0;
}
.cart-product-list-title {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cart-product-list-item {
  text-transform: none;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cart-product-list-item:first-child {
  margin-top: 42px;
}
.cart-product-list-item span {
  color: #6f6e6e;
}
.cart-product-list-item:first-child span {
  color: #ef5b70;
}
.cart-product-list-item:last-child {
  position: relative;
}
.cart-product-list-item:last-child::after {
  content: "2";
  display: block;
  width: 44px;
  height: 25px;
  border: 1px solid #eaeaea;
  position: absolute;
  top: 0px;
  right: 48px;
  text-align: center;
}
.cart-product-list-item:not(:last-child) {
  margin-bottom: 6px;
}
.cart-product-btn {
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 28px;
  right: 22px;
}
.cart-product-btn::after, .cart-product-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 3px;
  background-color: #575757;
  border-radius: 3px;
  transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  left: -5px;
}
.cart-product-btn::before {
  transform: rotate(45deg);
}
.cart-product-btn:hover::after, .cart-product-btn:hover::before {
  background-color: #ef5b70;
}
.cart-product-btn:active::after, .cart-product-btn:active::before {
  background-color: #ff000e;
}
.cart-left {
  max-width: 652px;
}
.cart-left-buttons {
  display: flex;
  justify-content: space-between;
}
.cart-left-buttons button {
  max-width: 235px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #a4a4a4;
}
.cart-left-buttons button:hover {
  background-color: #4d4d4d;
  color: #f16d7f;
}
.cart-left-buttons button:active {
  background-color: #6f6e6e;
  color: #ff000e;
}
.cart-right {
  min-width: 360px;
}
.cart-right-info {
  max-width: 360px;
  width: 100%;
  margin: 18px 0 57px 0;
}
.cart-right-info fieldset {
  border: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart-right-info-txt {
  display: block;
  width: 100%;
  height: 45px;
  padding: 13px 17px 16px 17px;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
  margin: 20px 0 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}
.cart-right-info-txt:focus {
  color: #222222;
}
.cart-right-info-btn {
  margin: 23px 0 0 0;
  width: 100px;
  height: 34px;
  text-transform: uppercase;
  padding: 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  border: 1px solid #a4a4a4;
  background-color: transparent;
}
.cart-right-info-btn:hover {
  background-color: #a4a4a4;
  color: #ffffff;
}
.cart-right-info-btn:active {
  background-color: transparent;
  color: #a4a4a4;
}
.cart-right-checkout {
  background: #f5f3f3;
  max-width: 360px;
  width: 100%;
  height: 214px;
  padding: 39px 34px 42px 34px;
  box-sizing: border-box;
  text-align: end;
  text-transform: uppercase;
}
.cart-right-checkout-item {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin: 0 0 12px 0;
}
.cart-right-checkout-item span {
  margin: 0 0 0 26px;
}
.cart-right-checkout-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  position: relative;
  margin: 0 0 39px 0;
}
.cart-right-checkout-title span {
  margin: 0 0 0 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}
.cart-right-checkout-title::after {
  content: "";
  display: block;
  width: 275px;
  height: 1px;
  background-color: #e2e2e2;
  position: absolute;
  bottom: -21px;
  right: 8px;
}
.cart-right-checkout-btn {
  display: block;
  width: 273px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background: #f16d7f;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}
.cart-right-checkout-btn:hover {
  border: 1px solid black;
  background-color: #ffffff;
  color: #f16d7f;
}
.cart-right-checkout-btn:active {
  border: none;
  background: #f16d7f;
  color: #ffffff;
}

/*==================End cart=====================*/
/*===================Registration==================*/
.registration {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}
.registration .reg-form {
  max-width: 360px;
  width: 100%;
}
.registration .reg-form-border {
  border: none;
  padding: 0;
  margin: 0;
}
.registration .reg-form-border:nth-child(2) {
  margin: 33px 0 36px 0;
}
.registration .reg-form-gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13.2px;
  color: #000000;
  padding: 0 0 0 20px;
}
.registration .reg-form-gender input {
  margin: 0 10px 0 0;
}
.registration .reg-form-gender:last-child {
  display: none;
}
.registration .reg-form-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration .reg-form-item {
  display: block;
  width: 100%;
  height: 45px;
  padding: 13px 17px 16px 17px;
  box-sizing: border-box;
  border: 1px solid #a4a4a4;
  margin: 20px 0 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}
.registration .reg-form-item:focus {
  color: #222222;
}
.registration .reg-form-txt {
  display: block;
  margin: 15px 0 39px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}
.registration .reg-form-button {
  position: relative;
  width: 167px;
}
.registration .reg-form-button-arrow {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #ffffff;
}
.registration .reg-form-btn {
  border: none;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #f16d7f;
  color: #fff;
  padding: 16px 66px 17px 29px;
  box-sizing: border-box;
  text-transform: uppercase;
}
.registration .reg-form-btn:hover {
  background-color: #4a4a4a;
  color: #f16d7f;
}
.registration .reg-form-btn:hover ~ .reg-form-button-arrow {
  fill: #f16d7f;
}
.registration .reg-form-btn:active {
  background-color: #f16d7f;
  color: #fff;
}
.registration .reg-form-btn:active ~ .reg-form-button-arrow {
  fill: #fff;
}
.registration .reg-right {
  max-width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration .reg-right-title {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}
.registration .reg-right-txt {
  margin: 22px 0 21px 0;
}
.registration .reg-right-list {
  list-style: none;
  padding: 0 0 0 43px;
  margin: 0;
}
.registration .reg-right-list-item {
  position: relative;
}
.registration .reg-right-list-item::before {
  content: "";
  display: block;
  width: 20px;
  height: 16px;
  background: url(../img/mark.svg) no-repeat;
  position: absolute;
  top: 8px;
  left: -40px;
}
.registration .reg-right-list-item:not(:last-child) {
  margin: 0 0 16px 0;
}

/*======================End Registration============*/
/*=======================@media=====================*/
@media (max-width: 1140px) {
  .ware-carousel {
    height: 624px;
    background-size: contain;
  }

  .ware-info {
    margin: 0 0 128px 0;
    padding: 65px 0 65px 0;
  }
  .ware-info-article {
    max-width: 555px;
    width: 100%;
  }
  .ware-info-price {
    max-width: 642px;
    width: 100%;
  }
  .ware-info-price::after {
    width: 100%;
    left: 0px;
  }

  .first-hiden-card {
    display: none;
  }

  .cart {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 128px auto;
  }
  .cart-left {
    max-width: 734px;
    margin-bottom: 62px;
  }
  .cart-left-buttons {
    justify-content: space-evenly;
  }
  .cart-product-list {
    padding-right: 179px;
  }
  .cart-right {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-right-info {
    margin: 0;
  }
  .cart-right-checkout {
    margin-top: 20px;
  }

  .registration {
    margin: 0 auto 96px auto;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
  }
  .registration .reg-right {
    width: 354px;
    font-size: 16px;
    line-height: 19px;
  }
  .registration .reg-right-title {
    font-size: 16px;
    line-height: 19px;
  }
  .registration .reg-form-border:nth-child(2) {
    display: flex;
  }
  .registration .reg-form-gender {
    display: block;
  }
  .registration .reg-form-gender:last-child {
    display: block;
  }
}
@media (max-width: 719px) {
  .first-hiden-card {
    display: block;
  }

  .second-hiden-card {
    display: none;
  }

  .cart-heading {
    text-align: center;
  }

  .cart {
    margin-bottom: 96px;
    padding: 0 8px 0 8px;
    box-sizing: border-box;
  }
  .cart-product {
    height: 188px;
    width: 358px;
  }
  .cart-product-btn::after, .cart-product-btn::before {
    width: 12px;
    height: 2px;
    top: -7px;
    left: 174px;
  }
  .cart-product-list {
    padding: 13.5px 53.3px 37.7px 17px;
  }
  .cart-product-list h3 {
    padding: 0;
    font-size: 16px;
    line-height: 19px;
  }
  .cart-product-list-item {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-product-list-item:first-child {
    margin-top: 26px;
  }
  .cart-product-list-item:not(:last-child) {
    margin-bottom: 4px;
  }
  .cart-product-list-item:last-child::after {
    width: 24.1px;
    height: 15.3px;
    right: 0px;
    font-size: 10px;
    line-height: 12px;
  }
  .cart-left-buttons {
    justify-content: space-between;
  }
  .cart-left button {
    width: 175px;
    height: 33px;
  }
  .cart-right {
    flex-direction: column;
  }
  .cart-right-checkout {
    margin-top: 48px;
  }

  .registration {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px 0 8px;
  }
  .registration-left {
    margin-bottom: 40px;
  }
  .registration .reg-right {
    max-width: 358px;
    width: 100%;
  }
}
/*=======================================The end==============================*//*# sourceMappingURL=style.css.map */